body {
    background-color: #101010;
    color: #f0f0f0;
    font-family: 'Helvetica';
}

.main {
    text-align: center;
    padding: 50px;
}

button {
    background-color: #101010;
    color: #f0f0f0;
    width: 20%;
    height: 100cap;

    border-style: solid;
    border-color: #f0f0f0;
    border-width: 3px;
    border-radius: 15px;


    transition: background-color 0.5s, color 0.5s, width 0.5s;
}

button:hover {
    background-color: #f0f0f0;
    color: #101010;

    width: 25%;
}

footer {
    text-align: center;
    position: fixed;

    padding: 20px;

    left: 0;
    bottom: 0;
    width: 100%;

    opacity: 50%;
}
